<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body style="padding:20px;">
        <div class="row">
            <div class="col s3">
                <h3>Edit Your Job Posting</h3>
            </div>
            <div class="col s3 offset-s4">
                <a href="/back" style="padding:50px;">Back</a>
                <a href="/log_off" style="padding:50px;">Logout</a>
            </div>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col s6" style="margin:50px;">
                <form action="/update_job/{{ job.id }}" method="POST">
                    {% csrf_token %}
                    <p>Tile: <input type="text" name="title" value="{{ job.title }}"></p>
                    <p>Description: <textarea type="text" name="description">{{ job.description }}</textarea></p>
                    <p>Location: <input type="text" name="location" value="{{ job.location }}"></p>
                    <button>Submit</button>
                </form>
            </div>
        </div>
</body>
</html>